{% load static %}
<footer class="gn-footer">
    <div class="footer-logos">
        <img src="{% static 'img/logo_furg.png' %}" alt="Logo FURG" class="footer-logo">
        <img src="{% static 'img/logo_governo.png' %}" alt="Logo Governo" class="footer-logo">
        <img src="{% static 'img/logo_mcti.png' %}" alt="Logo MCTI" class="footer-logo">
        <img src="{% static 'img/logo_inpo.png' %}" alt="Logo INPO" class="footer-logo">
        <img src="{% static 'img/logo_cnpq.png' %}" alt="Logo CNPq" class="footer-logo">
    </div>
</footer>